# Visual Studio 
.vs/
*.sln.docstates
*.suo

# Build artifacts
[Bb]in/
[Oo]bj/

# Database files
*.mdf
*.ldf

# User-specific files
*.rej
*.user
*.json

git rm --cached -- *\.mdf
git rm --cached -- *\.suo
git rm -r --cached .vs/